// Colors
$white: #fff;
$blackish:#072530;;
$darkGray:#636b6f;
$lightGray: #ced4da;
$transparentBlack: #00000069;
$transparentWhite: #ffffffcf;
$overLayDark: #00000036;

$bluish: #607d8b;
$baraka-navy-blue: #12315f;
$baraka-yellow: #f6c644;
$baraka-teal: #4ea69c;